<!doctype html>
<html>
<head>
	<title>Add in a new record</title>
    <link rel="stylesheet" href="styles" type="text/css">
</head>
<body>
	<h1>Add</h1>
	<form action="/new" method="post">
			<input type="text" id="name" placeholder="name" name="name">
			<input type="text" id="fb" placeholder="fb" name="fb">
			<input type="text" id="tw" placeholder="tw" name="tw">
			<input type="submit" id="input">
		</form>
</body>
</html>