<!doctype html>
<html>
<head>
	<title>Add in a new record</title>
</head>
<body>
	<h1>Add</h1>
	<form action="/add_picture" method="post" enctype="multipart/form-data">
		<input type="file" name="picture" id="picture">
		<input type="submit" id="add_data">
	</form>
</body>
</html>